/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* RESETS */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div,
section,
nav,
header,
footer {
    word-break: break-word;
}

/* GLOBALS */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 10px;
}

h1,
h2 {
    text-transform: uppercase;
    display: inline;
}

h1 {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
}
h2 {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.53rem;
}
/* HEADER */
.header {
    height: 95vh;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(rgba(126, 213, 111, 0.801)),
            to(rgba(40, 180, 133, 0.801))
        ),
        url(../img/hero.jpg);
    background-image: linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.801),
            rgba(40, 180, 133, 0.801)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    /* justify-self: flex-start; */
}
.logo {
    height: 35px;
}

.heading-box {
    display: flex;
    flex: 1 1 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.heading-primary {
}
.heading-sub {
}
