/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* RESETS */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div,
section,
nav,
header,
footer {
    word-break: break-word;
}

/* GLOBALS */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 10px;
}
h1,
h2 {
    text-transform: uppercase;
    display: inline;
}
h1 {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.53rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.header {
    height: 95vh;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(rgba(126, 213, 111, 0.801)),
            to(rgba(40, 180, 133, 0.801))
        ),
        url(../img/hero.jpg);
    background-image: linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.801),
            rgba(40, 180, 133, 0.801)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
}

@supports (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    .header {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
}

.logo {
    height: 35px;
}
.heading-box {
    display: flex;
    flex: 1 1 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.heading-primary,
.heading-sub {
    animation: 1.5s ease-in-out; /* name,duration,timing */
    backface-visibility: hidden; /* removes shaking of element upon transforming */
}
.heading-primary {
    animation-name: moveInLeft;
}
.heading-sub {
    animation-name: moveInRight;
}

/* BUTTONS */
.btn {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 40px;
}
.btn:link,
.btn:visited {
}

.btn-white {
    background-color: #fff;
    color: #777;
}
/* ANIMATIONS */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(2px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes buttonRipple {
